// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;

    @for $i from 1 through $exp {
        $res: $res * $base;
    }

    @return $res;
}

.nb {
    border: none;
}

@each $name,
$color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }

        .bb-#{$name}-#{$i} {
            border-bottom: solid $color $i + px;
        }
        .m-vh-top-#{$i} {
            margin-top: $i + vh;
        }
    }

    .br-b-#{$color} {
        border-color: $color;
    }
}

@for $i from 0 through 600 {
    .h-#{$i} {
        height: $i + px;
    }

    .w-#{$i} {
        width: $i + px;
    }

    .pa-#{$i} {
        padding: $i + px;
    }
    .pt-#{$i} {
        padding-top: $i + px;
    }
    .pb-#{$i} {
        padding-bottom: $i + px;
    }
   .pa-vw-#{$i} {
        padding: $i + vw;
    }

    .pa-vw-#{$i}{
        padding: $i + vw;
    }

    .pl-#{$i} {
        padding-left: $i + px;
    }
    .pa-t-#{$i} {
        padding: $i + px 0;
    }
    .pa-lr-#{$i} {
        padding: 0 $i + vw;
    }

    .pa-s-#{$i} {
        padding: $i + px $i + px $i + px 0;
    }

    .ml-v-#{$i} {
        margin-left: $i + vw;
    }
    .mt-vh-#{$i} {
        margin-top: $i + vh;
    }

    .mr-v-#{$i} {
        margin-right: $i + vw;
    }

    .m-#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
    }

    .ph-#{$i} {
        padding-left: $i + px;
        padding-right: $i + px;
    }

    .margin-tb-#{$i} {
        margin-top: $i + px;
        margin-bottom: $i + px;
    }

    .ma-#{$i} {
        margin: $i + px;
    }

    .mt-#{$i} {
        margin-top: $i + px;
    }

    .ml-#{$i} {
        margin-left: $i + px;
    }

    .mr-#{$i} {
        margin-right: $i + px;
    }

    .mb-#{$i} {
        margin-bottom: $i + px;
    }

    .mr-#{$i} {
        margin-right: $i + px;
    }
}

@for $i from 1 through 100 {
    .h-vh-#{$i} {
        height: $i + vh;
    }

    .w-vw-#{$i} {
        width: $i + vw;
    }

    .z-#{$i} {
        z-index: $i;
    }
}

.op30 {
    opacity: 30%;
}

body {
    margin: 0 auto;
}

.bshadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
}

.of-y {
    overflow-y: scroll;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.w105 {
    width: 112.5%;
}

.h100 {
    height: 100%;
}
.hs35 {
    height: 35%;
}
.hs20 {
    height: 20%;
}

.wbreak {
    word-wrap: break-word;
}

.w90 {
    width: 90% !important;
    margin: auto;
}

.mline {
    margin: 24px auto 15px;
}

.w95 {
    width: 95%;
}

.w96 {
    width: 96%;
}

.w85 {
    width: 85%;
}

.margin-auto {
    margin: auto;
}

.margin-top-auto{
    margin:auto 0 ;
}

// ЭНЭ CSS ЯМАР УЧИРТАЙГ САЙН СУДЛАХ
.boxs {
    box-sizing: border-box;
}

.rb {
    border: none;
}

.ru {
    text-decoration: none;
    color: white;
}

.ul {
    text-decoration: underline;
}

.nopadding {
    padding: none;
}

.logo {
    width: 100px;
    height: 100px;
}

.op {
    opacity: 0.5;
}

.op-little {
    opacity: 0.1;
}

.ib {
    display: inline-block;
}

.display-block {
    display: block;
}

.rm {
    margin: 0;
}

.pr {
    position: relative;
}

.v-align {
    vertical-align: middle;
}

.dr {
    top: 65px;
    right: 130px;
    border-top: none;
}

@each $name,
$color in $colors {
    @for $i from 1 to 100 {
        .bt-#{$name}-#{$i} {
            border-top: solid $color $i + px;
        }

        .bl-#{$name}-#{$i} {
            border-left: solid $color $i + px;
        }

        .bright-#{$name}-#{$i} {
            border-right: solid $color $i + px;
        }
    }
}

@for $i from 1 to 100 {
    .bradius-#{$i} {
        border-radius: $i + px;
    }
    .brad-top-#{$i}{
        border-top-left-radius: $i + px;
        border-top-right-radius: $i + px;
    }
    .brad-bottom-#{$i}{
        border-bottom-left-radius: $i + px;
        border-bottom-right-radius: $i + px;
    }

    .fs-#{$i} {
        font-size: $i + px;
    }

    .fw-#{$i} {
        font-weight: $i + px;
    }

    .h#{$i} {
        height: $i + vh;
    }

    .bottom-#{$i} {
        bottom: $i + px;
    }
}

.dn {
    display: none;
}

.btm {
    position: absolute;
    bottom: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.outl {
    outline: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

//Background Stuffs
.bs {
    background-size: auto;
}

.container {
    width: 100%;
    max-width: 100%;
}

.container-bruh {
    width: 100%;
    max-width: 105%;
    position: absolute;
}

.containerpf {
    width: 100vw;
    margin: 0 auto;
    position: absolute;
}

.t-0 {
    top: 0;
}

.r-0 {
    right: 0;
}
.l-0{
    left: 0;
}

.absolute {
    position: absolute;
}

.z-i {
    z-index: 1;
}

.break-wrap {
    word-wrap: break-word;
}


.loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #1DD3D2;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.circle {
    border-radius: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.p-f {
    position: fixed;
}


.ws33 {
    width: 33%;
}

.ws30 {
    width: 30%;
}

.ws100 {
    width: 100% !important;
}

.ws90 {
    width: 90% !important;
}

.ws95 {
    width: 95%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-right {
    text-align: right;
}

@for $i from 0 through 600 {
    .brad-#{$i} {
        border-radius: $i + px;
    }

    .gap-#{i} {
        gap: $i + px;
    }
}

@for $i from 0 through 600 {
    .gap-#{i} {
        gap: $i + px;
    }
}

// @for $i from 0 through 600 {
//     .bottom-#{$i}{
//         position: absolute;
//         bottom: $i + px;
//     }
// }

.text-button {
    border: none !important;
    background-color: inherit !important;
}

@for $i from 0 through 600 {
    .hi-#{i} {
        height: $i + px !important;
    }
}

.w-fit {
    width: fit-content;
}

.ms {
    margin: 0 10px 10px 0;
}

.f-right {
    float: right;
}


.bs-contain {
    background-size: contain;
}

.br-no {
    background-repeat: no-repeat;
}

.bp-center {
    background-position: center;
}
.click-secondary {
    background-color: #FCFCFD;
    border-radius: 10px;
}

.click-secondary:hover {
    background-color: #EFD6A7;
    color: #FCBF49;
    font-weight: bold;
    border-radius: 8px;
    z-index: 1;
}

    .bradius-top-right {
        border-top-right-radius: 10px;
    }
    .bradius-top-left {
        border-top-left-radius: 10px;
    }
    .bradius-bottom-right {
        border-bottom-right-radius: 10px;
    }
    .bradius-bottom-left {
        border-bottom-left-radius: 10px;
    }

.bradius-btm-r {
    border-bottom-right-radius: 10px;
}

.bradius-btm-l {
    border-bottom-left-radius: 10px;
}

.ml-stupid {
    margin-left: -5vw;
}

.h25 {
    height: 25%;
}

.primary-gradient {
    background: linear-gradient(73.06deg, #56CCF2 0%, #2F80ED 75.06%);
}

.secondary-gradient {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
    opacity: 0.75;
}

.third-gradient {
    background: linear-gradient(90deg, rgba(46, 162, 246, 0.66) 0%, #2E7CF6 100%);
}

.white-gradient {
    background:rgba(255, 255, 255, 0.5);
}

.progress-bar-max-width {
    max-width: 339px;;
}

.boxshadow {
    box-shadow: 0px 0px 20px #99C8EF;
}

.boxshadow-2 {
    box-shadow: 0px 0px 20px rgba(153, 200, 239, 0.25);

}

.margin-btm-8 {
    margin-bottom: 8px;
}

.margin-top-8 {
    margin-top: 8px;
}

.srt-by-bg-color {
    background: rgba(86, 204, 242, 0.2);
}
.primary-gra {
    background: linear-gradient(90deg, #56CCF2 0%, #2F80ED 100%);
}
.primary-gra2 {
    background: linear-gradient(73.06deg, #56CCF2 0%, #2F80ED 75.06%);
}

.br-gra {
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #56CCF2, #2F80ED);
    border-image-slice: 1;
}

.c-gra {
    background-image: linear-gradient(45deg, #56CCF2, #2F80ED);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.top-0 {
    top: 0;
}
.onlyAddEvent {
    border: 1px solid rgba(153, 163, 190, 0.5) !important;
}


.shadow3 {
    box-shadow: 0px 0px 20px rgba(153, 200, 239, 0.3);
}